<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей:</h1>
<hr>
<table th:border="2">
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}" th:align="center"></td>
        <td th:text="${user.getFirstName()}" th:align="center"></td>
        <td th:text="${user.getLastName()}" th:align="center"></td>

        <td th:text="${#strings.listJoin(user.getRolesNames(), ', ')}"></td>

        <td>
            <form action="#" th:action="@{/admin/update}" method="get">
                <input type="hidden" name="username" th:value="${user.getUsername()}" />
                <input type="submit" value="Обновить информацию" />
            </form>
        </td>

        <td>
            <form action="#" th:action="@{/admin/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}" />
                <input type="submit" value="Удалить пользователя" />
            </form>
        </td>

    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/admin/new}" method="get">
    <input type="submit" value="Добавить пользователя" />
</form>
<br>
<br>
<form action="#" th:action="@{/logout}" method="get">
    <input type="submit" value="Logout" />
</form>
</body>
</html>